.footer {
    background-color: var(--background-color);
    padding: 64px 0px 0px 20px;
  }
  
  .footer-flex {
    font-size: 1.4rem;
    flex-wrap: wrap;
  }
  
  .footer-flex p {
    margin: 20px 0px;
  }
  
  .footer-flex img {
    margin-bottom: 40px;
  }