.header {
  flex-wrap: wrap;

  transition: 0.2s;
  padding: 29px 0px;
  background-color: var(--background-color);
}

.sticky {
  position: sticky;
  top: 0;
  transition: all 0.3s ease;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
}

.main-nav {
  position: relative;
}
.main-nav li a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}
.main-nav ul li:nth-child(3) a {
  color: var(--primary-color);
}

.burger {
  display: none;
  z-index: 2;
  margin-right: 10px;
}

.mobile-nav {
  position: absolute;
  width: 200px;
  background-color: var(--background-color);
  text-align: center;
  right: 100%;
  top: 100%;
  z-index: 2;
}

.mobile-nav li {
  padding: 10px 0px;
  font-size: 2rem;
  cursor: pointer;
}
.mobile-nav li:hover {
  background-color: #ffffff47;
}

.display-nav {
  display: none;
}
